.chat-main
  .chat-main__group-info
    .info-left
      .info-left__main
        =@group.name
      .info-left__sub
        Member : 
        - @group.users.each do |user|
          = user.name
    .info-rights
      = link_to "#" , class:"edit-btn" do
        .info-right__edit
          Edit
  .chat-main__message-form
    = render @messages
    .message-form__type
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'type-left', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'type-right' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'type-right__file'
        = f.submit 'Send', class: 'message-from__send'
