.side-bar 
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path , class:"side-icon"do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) , class:"side-icon"do
          %i.fa.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group-room__name
            = group.name
          .group-room__notice
            = group.show_last_message
 